.Rproj.user
.Rhistory
.RData
.Ruserdata

about_qconut.Rmd

bb_feedback/

vimeo_video/

training_data/

test-index.html

test-index.md

.DS_Store

tonga-crop-survey-offline.pdf

tonga-crop-survey-offline.pptx

tonga_crop_survey_1.Rmd

syncthing-offline.html

syncthing-offline.Rmd

lesson_4.html

about.html
