
img {
    padding: 5px;
    border: thin silver solid;
    image-orientation: none;
  }

.caption {
    font-weight: bold;
    font-style: italic;
}

.title {
     text-align: center;
 } 

p {
  font-size: 16px;
}